.header {
    padding: 26px 0;

    @include mobile {
        padding: 15px 0;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        gap: 32px;

        @include desktop {
            grid-template-columns: 1fr 2fr 1fr;
        }

        @include laptop {
            grid-template-columns: 1fr 3fr 2fr;
        }

        @include tablet {
            grid-template-columns: 1fr 1fr;
            gap: 23px;
        }

        @include mobile {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 25px;
        }
    }

    &__logo {
        display: block;

        @include mobile {
            width: 56px;
        }

        &-link {
            justify-self: start;
        }
    }

    &__search {
        justify-self: center;
        max-width: 818px;

        @include desktop {
            justify-self: start;
            max-width: 600px;
        }

        @include laptop {
            width: 100%;
        }

        @include tablet {
            max-width: 100%;
            order: 1;
            grid-column: 2 span;
        }
    }

    &__nav {
        justify-self: end;
        display: flex;
        justify-content: space-between;
        max-width: 330px;
        width: 100%;

        @include mobile {
            max-width: 212px;
        }
    }

    &__phone {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;

        @include mobile {
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__cart {
        display: block;
        align-self: center;
    }
}