.swiper {
    /*&-slide {
        height: unset !important;
    }*/

    &-wrapper {
        margin-bottom: 60px;
    }

    &-pagination .swiper-pagination-bullet {
        background-color: currentColor;
        width: 14px;
        height: 14px;
    }

    /*&-pagination-bullet-active {
        background-color: currentColor;
    }*/
}