.address {
    margin-bottom: 110px;

    @include desktop {
        margin-bottom: 120px;
    }

    @include laptop {
        margin-bottom: 10px;
    }

    @include tablet {
        margin-bottom: 5px;
    }

    @include mobile {
        max-width: 300px;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__form {
        display: grid;
        grid-template-columns: repeat(3, 340px);
        gap: 30px 30px;

        @include desktop {
            max-width: 700px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            gap: 20px 20px;
        }

        @include laptop {
            max-width: 100%;
            justify-content: space-between;
        }

        @include tablet {
            gap: 10px 20px;
        }
    }

    &__item {
        width: 340px;
        height: 50px;
        padding: 15px 45px 15px 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        border: 1px solid $color-primary;

        @include laptop {
            width: 475px;
        }

        @include tablet {
            width: 310px;
        }

        @include mobile {
            max-width: 300px;
        }

        &-select {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            background-color: transparent;
            outline: none;

            &_wrapper {
                position: relative;
            }

            &_wrapper::after {
                content: "";
                position: absolute;
                align-self: center;
                top: 50%;
                right: 45px;
                transform: translateY(-50%);
                display: block;
                width: 18px;
                height: 18px;
                background-color: none;
                background-image: url('././img/cart_images/arrow-bottom.svg');
                background-repeat: no-repeat;
                pointer-events: none;
                background-position: center;
            }

            &::-ms-expand {
                display: none;
            }

            &_selected {
                color: $color-grey;
            }
        }


    }

    &__hidden {
        display: none;
        max-height: 18px;
        border: none;
        margin: 0;
        padding: 0;
        content: none;

        @include laptop {
            display: block;
        }

        @include mobile {
            display: none;
        }
    }

    &__btn {
        color: $color-secondary;
        background-color: $color-primary;
        border: none;
    }

    &__label-save {
        grid-column: 3/3;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        @include desktop {
            margin-right: 20%;
        }

        @include laptop {
            margin-right: 28%;

        }

        @include tablet {
            margin-right: 17.1%;
        }

        @include mobile {
            margin-right: 0;
            width: 100%;
        }
    }
}

/*
adr-city
adr-street
adr-flat
adr-name
adr-index
adr-btn
adr-save
*/